<%- include("templates/header") %>
<a href="/signup" class="btn btn-info" role="button">Sign up</a>
<br/>
<br/>
<a href="/login" class="btn btn-info" role="button">Log in</a>
<%- include("templates/footer") %>
