<%- include("templates/header") %>
<h1>
  Hello, <%= user.username %>
  <h1>
    <br />
    <a href="/logout" class="btn btn-info">Log out</a>
     <br />
     <!-- <a href="/members" class="btn btn-info">Go to Member Area</a -->
    <%- include("templates/footer") %>
  </h1>
</h1>
