<%- include("templates/header") %>
<div class="row mb-3 text-center">
  <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/1.gif" /></div>
  <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/2.gif" /></div>
  <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/3.gif" /></div>
</div>
Hello, <%= user.username %>
<br />
<br />
<a href="/logout">Log out</a>
<%- include("templates/footer") %>
