<%- include("templates/header") %> create user
<form action="/signupSubmit" method="post">
  <input name="username" type="text" placeholder="username" />
  <br />
  <input name="email" type="email" placeholder="email" />
  <br />
  <input name="password" type="password" placeholder="password" />
  <br />
  <button>Submit</button>
</form>
<%- include("templates/footer") %>
